html {
    height: 100%;
}

body {
    line-height: 150%;
    font-family: sans-serif;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    /*    background-color: #eaeaea;*/
    color: #525252;
}

header {
    padding: 1em;
    box-sizing: border-box;
    /*    text-align: right;*/
}

article {
    padding: 1em;
    box-sizing: border-box;
    /*    background-color: grey;*/
    height: 100%;
}

section {
    padding-bottom: 1em;
    padding-top: 1em;
    margin: 0 auto;
}

#intro {
    padding-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    line-height: 1em;
    padding-bottom: 1em;
}

h1,
h2 {
    font-size: 2em;
    margin-bottom: .5em;
}

h3 {
    font-size: 1.5em;
}

header nav a {
    text-decoration: none;
    display: block;
    color: #2f2f2f;
    text-transform: uppercase;
    font-size: 70%;
}

nav {}

h1 a {
    color: #6d6d6d;
    text-decoration: none;
}

a:hover {
    color: #6d6d6d;
}

p {
    max-width: 560px;
    margin-bottom: 1em;
}

img {
    max-width: 100%;
    display: block;
}

iframe {
    max-width: 100%;
    padding-top: 1em;
}

.col {}

.logo {
    width: 3em;
}

a .logo {
    border-bottom: none;
}

figure {
    margin-top: 1em;
}

figure img {}

article li {
    list-style: disc;
    margin-left: 1em;
    padding-bottom: .5em;
}

#prototype img {}

.boldme {
    font-weight: 600;
}

.caption {
    font-size: .7em;
    line-height: 0;
}

.list-indent {
    margin-left: 3em;
    list-style: circle;
}

.list-double-indent {
    margin-left: 5em;
    list-style: square;
}

hr {
    width: 3em;
    display: inline-block;
    clear: both;
}

header li {
    display: block;
}

@media screen and (min-width: 45em) {
    body {
        /*        max-width: 40em;*/
        margin: 0 auto;
        box-sizing: border-box;
        /*        max-width: 80em;*/
    }
    header {
        width: 20em;
        float: left;
        display: inline-block;
    }
    article {
        max-width: 40em;
        margin-left: 20em;
    }
    aside {
        float: right;
        padding: 1em;
        width: 30em;
    }
    header {}
    section {}
    #statement {
        padding-top: 0;
    }
}


/*<!--Marked Up by James Hillmann-->*/